<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="roboyard.eclabs.test">
    <application>
        <activity
            android:name="roboyard.eclabs.ui.mock.MockMainActivity"
            android:exported="true" />
    </application>
</manifest>
