.gradle
/local.properties
/keystore.properties
*.keystore
*.jks
/adi-registration.properties
app/src/main/assets/adi-registration.properties
.idea/misc.xml
/.idea/*.iml
/.idea/androidTestResultsUserPreferences.xml
/.idea/appInsightsSettings.xml
/.idea/caches/*
/.idea/copilot/chatSessions/
/.idea/deploymentTargetDropDown.xml
/.idea/deploymentTargetSelector.xml
/.idea/libraries
/.idea/modules
/.idea/other.xml
/.idea/planningMode.xml
/.idea/workspace.xml
.DS_Store
/build
/shared/build
/composeApp/build
composeApp/build/*
/dev/images/yard/
zzbak~*
/app/release/output-metadata.json
/app/release/baselineProfiles/
/.vscode/launch.json
*.odt\#
*.~lock.upgrade_path_AI.odt\#
/dev/translation_analysis/
/dev/translation_stats/
androidTestResultsUserPreferences.xml
/dev/pgs_import/*.png
.kotlin/*
*/python_testsuite_screenshots/
screenshot_*.png
*/__pycache__/*
test_suite.cpython-*.pyc
*_testsuite.cpython-*.pyc
