<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name="roboyard.eclabs.RoboyardApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:largeHeap="true"
        android:allowClearUserData="true"
        android:enableOnBackInvokedCallback="true">

        <!-- Modern UI Activity hosting fragments is now the main entry point -->
        <activity 
            android:name="roboyard.eclabs.ui.MainFragmentActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="user">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            <!-- Deep link for custom URI scheme -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="roboyard" android:host="open" />
            </intent-filter>
            
            <!-- Deep link for http/https intent (Chrome compatibility) -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" android:host="roboyard.z11.de" android:pathPrefix="/open" />
                <data android:scheme="https" android:host="roboyard.z11.de" android:pathPrefix="/open" />
            </intent-filter>
        </activity>
        
        <!-- Legacy activity, no longer the main entry point -->
        <activity android:name="roboyard.eclabs.MainActivity"
            android:label="@string/app_name"
            android:exported="false">
        </activity>

        <activity android:name=".ShareActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>


        <service android:name="roboyard.SoundService"  android:enabled="true"></service>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>
